# Node modules
node_modules/

# Development source
src/

# Git
.git/

# IDE/editor settings
.gitignore
.prettierrc

# Configurations and logs
jest.config.ts
.watchmanconfig
bun.lockb

# TypeScript configuration
tsconfig.json

*.tgz
tsconfig.**.*
build.js